{% extends 'base.html' %}
{% block css %} 
   <link rel="stylesheet" href="../static/css/aboutUs.css" />
{% endblock css%}
{% block title %}
   Rólunk
{% endblock title %}
{% block content %}
   <div id="container">
      {% include 'navbar.html' %}
      <div class="row m-0 h-fit-content pt-3" id="about-us-container">
         <section id="about-us" class="col-12 mx-auto p-3 h-fit-content w-fit-content">
            <h2 id="about-us-title" class="w-75 m-3 pb-2">Rólunk</h2>
            <div class="row mx-3" id="about-us-cards">
               <div class="col-lg-6 h-fit-content my-4" id="about-us-imgs">
                  <div class="card">
                     <img src="../static/img/Zsolt.jpg" class="card-img-top img-fluid h-auto" alt="Fülöp Zsolt" title="Fülöp Zsolt" />
                     <div class="card-body">
                        <p class="card-text text-center">
                           <b>Fülöp Zsolt</b><br /><i>Junior Frontend Fejlesztő</i>
                        </p>
                     </div>
                  </div>
                  <div class="card">
                     <img src="../static/img/Gyula.jpg" class="card-img-top img-fluid" alt="Fazekas Gyula" title="Fazekas Gyula" />
                     <div class="card-body">
                        <p class="card-text text-center">
                           <b>Fazekas Gyula</b><br /><i>Elektronikai Technikus</i>
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 p-0" id="about-us-text">
                  <p class="m-0 px-3">
                     2023-ban közösen kezdtük meg tanulmányainkat a Debreceni SZC Mechwart András Gépipari és Informatikai Technikumban, Szoftverfejlesztő és tesztelő tanfolyamon. Sok érdekes dolgot tanultunk de mind a kettőnket leginkább a weboldal készítés fogott meg.
                  </p>
               </div>
            </div>
         </section>
         <section id="about-project" class="col-12 mx-auto p-3 h-fit-content">
            <h2 id="about-project-title" class="w-75 m-3 pb-2">Projektünkről</h2>
            <div id="about-project-text">
               <p class="m-auto py-3 px-5">
                  Ez a FlexHUB nevű projekt egy interaktív weboldal létrehozását tűzte ki célul, amely megkönnyíti a felhasználók számára az edzőtermek keresését és saját edzésterveik létrehozását. A felhasználók különböző szűrési lehetőségekkel böngészhetnek az adatbázisban található edzőtermek között, majd bejelentkezés után személyre szabott edzésterveket hozhatnak létre. A regisztráció és a bejelentkezés folyamata egyszerű és biztonságos, így a felhasználók könnyen hozzáférhetnek a weboldal nyújtotta összes funkcióhoz. A projekt célja egy átlátható és felhasználóbarát rendszer kialakítása, amely segíti a sportolni vágyókat céljaik elérésében.
               </p>
            </div>
         </section>
      </div>
      {% include "footer.html" %}
   </div>
{% endblock content %}
