{% extends "base.html" %}
{% load static %}
{% block css %}
   <link rel="stylesheet" href="{% static 'css/budgetBiceps.css' %}" />
{% endblock css%}
{% block title %}
   Gym Kereső
{% endblock title %}
{% block content %}
   {% include 'navbar.html' %}
   <div id="container">
      <h1>Gym Kereső</h1>
      <div>
         <form class="my-2">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="search-field">
            <button class="btn my-2 " type="submit">Search</button>
         </form>
      </div>
      <div class="px-3" id="gyms-container">
         {% for gym in allGymData %}
         <div class="p-2" id="gym-data">
            <h4>{{ gym.name }}</h4>
            <div class="ps-3" id="gym-address">
               <p class="m-0">
                  <i class="fa-solid fa-location-dot pe-3"></i>
                  {{ gym.address }}
               </p>
            </div>
            <div class="ps-3" id="gym-url">
               <p class="m-0">
                  <i class="fa-solid fa-link pe-3"></i>
                  <a href="{{ gym.url }}" target="_blank">Weboldal link / Facebook link</a>
               </p>
            </div>
            <div class="ps-3" id="gym-price-group">
               <p class="m-0">
                  <span class="pe-3">Árkategória:</span> {{ gym.price_group }}
               </p>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
{% endblock content %}
