{% extends "base.html" %}
{% load static %}
{% block css %}
   <link rel="stylesheet" href="{% static 'css/budgetBiceps.css' %}" />
{% endblock css%}
{% block title %}
   Gym Kereső
{% endblock title %}
{% block content %}
   {% include 'navbar.html' %}
   <div class="px-3 pb-5" id="container">
      <h1 class="text-center pt-3">Gym Kereső</h1>
      <div>
         <form class="row my-2 p-2">
            <div class="col-12 col-lg-6 w-fit-content" id="select-containers">
               <div class="row">
                  <div class="col-12 input-containers" id="select-city-container">
                     <input type="text" class="form-control" id="text-search" placeholder="Keresés...">
                  </div>
                  <div class="col-12 input-containers" id="select-price-container">
                     <select id="price-select" class="form-select" aria-label="Default select example">
                        <option selected id="price-filter">Ár kategória szerint:</option>
                        <option value="increasing">Ár kategória szerint növekvő</option>
                        <option value="decreasing">Ár kategória szerint csökkenő</option>
                     </select>
                  </div>
               </div>
            </div>
         </form>
      </div>
      <div class="row m-auto w-100 h-100" id="gyms-container">
      </div>
   </div>
   {% include "footer.html" %}
{% endblock content %}
{% block js %}
   <script src="{% static 'js/budgetBiceps.js' %}"></script>
{% endblock js %}