{% extends "base.html" %}
{% load static %}
{% block css %}
   <link rel="stylesheet" href="{% static 'css/budgetBiceps.css' %}" />
{% endblock css%}
{% block title %}
   Gym Kereső
{% endblock title %}
{% block content %}
   {% include 'navbar.html' %}
   <div class="px-3" id="container">
      <h1 class="text-center pt-3">Gym Kereső</h1>
      <div>
         <form class="row my-2 p-2">
            <div class="col-12 col-lg-6 input-containers" id="search-container">
               <input class="form-control" type="search" placeholder="Search" aria-label="Search">
               <button class="btn my-2 " type="submit">Search</button>
            </div>
            <div class="col-12 col-lg-6" id="select-containers">
               <div class="row">
                  <div class="col-12 input-containers" id="select-city-container">
                     <select id="city-select" class="form-select" aria-label="Default select example">
                        <option selected id="city-option-text">Válassz egy várost:</option>
                        {% for city in allCityData %}
                           <option id="{{ city.name }}" value="{{ city.name }}">{{ city.name }}</option>
                        {% endfor %}
                     </select>
                  </div>
                  <div class="col-12 input-containers" id="select-price-container">
                     <select id="price-select" class="form-select" aria-label="Default select example">
                        <option selected id="price-option-text">Válaszd ki az árkategóriát:</option>
                        <option id="$" value="$">$</option>
                        <option id="$$" value="$$">$$</option>
                        <option id="$$$" value="$$$">$$$</option>
                        <option id="$$$$" value="$$$$">$$$$</option>
                     </select>
                  </div>
               </div>
            </div>
         </form>
      </div>
      <div class="row m-auto" id="gyms-container">
         {% for gym in allGymData %}
         <div class="col-4 p-2 d-none" id="gym-data">
            <h3 class="m-1 mb-2 ms-3">{{ gym.name }}</h3>
            <div class="m-auto mt-4 ps-3">
               <p class="m-0">
                  <i class="fa-solid fa-location-dot"></i>
                  <span class="gym-adress" id="{{ gym.id }}">{{ gym.address }}</span>
               </p>
               <p class="m-0">
                  <i class="fa-solid fa-link"></i>
                  <a href="{{ gym.url }}" target="_blank">Weboldal link / Facebook link</a>
               </p>
               <p class="m-0">
                  <span>Árkategória:</span> <span class="gym-price">{{ gym.price_group }}</span>
               </p>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
{% endblock content %}
{% block js %}
   <script src="{% static 'js/budgetBiceps.js' %}"></script>
{% endblock js %}
