{% extends "home.html" %} {% block css %}
<link rel="stylesheet" href="../static/css/budgetBiceps.css" />
{% endblock css%} {% block content %}
<h2 class="text-center my-4">
   Elkezdenél edzeni, de nem tudod hol?
   <br />
   Összegyűjtöttük neked a nagyvárosok Fitness termeit.
   <br />
   Keress kedved szerint!
</h2>

{% for gym in allGymData %}
<div>
   <h4>{{ gym.name }}</h4>
   <div class="gym-data">
      <i class="fa-solid fa-location-dot"></i>
      <p class="m-0">{{ gym.address }}</p>
   </div>
   <div class="gym-data">
      <i class="fa-solid fa-link"></i>
      <p class="m-0">{{ gym.url }}</p>
   </div>
   <div class="gym-data">
      <p class="m-0">Árkategória:</p>
      <p class="m-0">
         {% for _ in gym.price_group %}
         <i class="fa-solid fa-dollar-sign"></i>
         {% endfor %}
      </p>
   </div>
</div>
{% endfor %} {% endblock content %}
