<nav class="navbar navbar-expand-lg navbar-light p-0">
   <a class="navbar-brand ms-3" href="#">
      <div id="logo">
         <img id="logo-img" src="../static/img/flexhub.png" alt="FlexHub" />
         <p class="m-0 p-0"><span id="logo-flex">Flex</span><span id="logo-hub">Hub</span></p>
      </div>
   </a>
   <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
         <li class="nav-item">
            <a class="nav-link mx-2" href="/">Főoldal</a>
         </li>
         <li class="nav-item">
            <a class="nav-link mx-2" href="/gym-search">Edzőterem kereső</a>
         </li>
         <li class="nav-item">
            <a class="nav-link mx-2" href="/about-us">Rólunk</a>
         </li>
         <li class="nav-item">
            <a class="nav-link mx-2" href="/login">Belépés</a>
         </li>
         <!-- Angol, magyar fordítás gomb nyomással -->
      </ul>
   </div>
</nav>
