{% extends "home.html" %} {% block content %}
<div id="registration">
   <h1 class="text-center">Regisztráció</h1>
   <form method="post">
      <div class="mb-3">
         <label for="email" class="form-label">Email address</label>
         <input type="email" class="form-control" id="email" required />
      </div>
      <div class="mb-3">
         <label for="password" class="form-label">Jelszó</label>
         <input type="password" class="form-control" id="password" required />
      <div class="mb-3">
         <label for="name" class="form-label">Név</label>
         <input type="text" class="form-control" id="name" required />
      </div>
      <div class="mb-3">
         <label for="weight" class="form-label">Súly (kg)</label>
         <input type="number" class="form-control" id="weight" required />
      </div>
      <div class="mb-3">
         <label for="height" class="form-label">Magasság (cm)</label>
         <input type="number" class="form-control" id="height" required />
      </div>
      <div class="form-group mb-3">
         <label class="form-label" for="goal">Cél</label>
         <select class="form-control" id="goal" required>
           <option>Izom építés</option>
           <option>Erő növelés</option>
           <option>Fogyás</option>
           <option>Egészség fentartás</option>
         </select>
       </div>
       <div class="form-group mb-3">
         <label class="form-label" for="comment">Megjegyzés (nem kötelező)</label>
         <textarea class="form-control" id="comment" rows="3"></textarea>
       </div>
      <a type="submit" class="btn btn-primary">Regisztráció</a>
   </form>
</div>
{% endblock %}
