{% extends 'base.html' %} {% load static %} {% block css %}
<!-- <link rel="stylesheet" href="{% static 'css/login.css' %}" /> -->
{% endblock css%} {% block title %} Bejelentkezés {% endblock title %} {% block content %}
<div id="container">
   {% include 'navbar.html' %} {% if user.is_authenticated %}
   <form action="{% url 'logout' %}" method="post">
      <p>Üdv, {{ user.username }}. Sikeres bejelentkezés.</p>
      {% csrf_token %}
      <button type="submit" class="btn">Kijelentkezés</button>
   </form>
   {% else %}
   <div id="login-container">
      <form action="{% url 'login' %}" method="post">
         {% csrf_token %}
         <h1 class="text-center mb-3 pb-3">Bejelentkezés</h1>
         {{ form.as_p }}
         <!-- <p>
            <label for="id_username">Felhasználónév:</label>
            <input
               type="text"
               name="username"
               autofocus=""
               autocapitalize="none"
               autocomplete="username"
               maxlength="150"
               required=""
               class="form-control"
               id="id_username" />
         </p>
         <p>
            <label for="id_password">Jelszó:</label>
            <input
               type="password"
               name="password"
               autocomplete="current-password"
               required=""
               class="form-control"
               id="id_password" />
         </p> -->
         <button type="submit" class="btn mt-3">Belépés</button>
         <div class="mt-3" id="form-links">
            <a href="{% url 'register' %}">Még nem vagy regisztrálva?</a>
            <a href="{% url 'password_reset' %}">Elfelejtette a jelszavát?</a>
         </div>
      </form>
   </div>
   {% endif %} {% include "footer.html" %}
</div>
{% endblock content %}
