{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />
<style>
   #id_password1, #id_password2 {
      background-color: #c0c0c0;
      color: #0d1b2a;
   }
</style>
{% endblock css%}
{% block title %}
   Jelszóváltoztatás megerősítése
{% endblock title %}
{% block content %} 
   <div id="container">
      {% include 'navbar.html' %}
      <div id="register-container">
         <form method="post">
            {% csrf_token %}
            <h1 class="text-center mb-3 pb-3">Új jelszó megadása</h1>
            <p class="my-0">
               <label for="id_password1">Új jelszó:</label>
               <input
                  type="password"
                  name="password1"
                  autocomplete="new-password"
                  aria-describedby="id_password1_helptext"
                  class="form-control"
                  id="id_password1" />
               <span class="form-text error m-0 p-0" id="id_password_error"></span>
            </p>
            <p class="mt-0 mb-3">
               <label for="id_password2">Új jelszó megerősítése:</label>
               <input
                  type="password"
                  name="password2"
                  autocomplete="new-password"
                  aria-describedby="id_password2_helptext"
                  class="form-control"
                  id="id_password2" />
            </p>
            <button type="submit" class="btn mt-3 disabled">Küldés</button>
         </form>
      </div>
   </div>
{% endblock content %}
{% block js %}
<script src="{% static 'js/passwordResetConfirm.js' %}"></script>
{% endblock js %}
