{% extends 'base.html' %} {% load static %} {% block css %}
<style>
   #container {
      height: calc(100% - 25.6px);
   }
   #text-container {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   #password-reset-done {
      font-size: 1.5rem;
      background-color: #1b263b;
      color: #00e7c9;
      border-radius: 10px;
      -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 231, 201, 1);
      -moz-box-shadow: 0px 0px 10px 5px rgba(0, 231, 201, 1);
      box-shadow: 0px 0px 10px 5px rgba(0, 231, 201, 1);
   }
</style>
{% endblock css%} {% block title %} Jelszó visszaállítása megtörtént {% endblock title %}
{% block content %}
<div id="container">
   {% include 'navbar.html' %}
   <div id="text-container"><p class="text-center m-auto p-3 w-fit-content" id="password-reset-done"> Email-t küldtünk a jelszó megváltoztatásához szükséges teendőkről. </p></div>
</div>
{% include "footer.html" %}
{% endblock content %}
