{% extends 'base.html' %}
{% load static %}
{% block css %}
   <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock css%}
{% block title %}
   Jelszóváltoztatás kérése
{% endblock title %}
{% block content %} 
   <div id="container">
      {% include 'navbar.html' %}
      <div id="form-container" class="w-100">
         <form method="post" class="m-auto p-3">
            {% csrf_token %}
            <h2 class="text-center pb-2">Jelszó változtatás kérelem</h2>
            <div class="form-group">
               <label for="id_email">E-mail cím:</label>
               <input type="email" name="email" autocomplete="email" class="form-control" id="id_email" />
               {% if form.email.errors %}
                  <div class="alert alert-danger mt-2">
                     {{ form.email.errors }}
                  </div>
               {% endif %} 
            <button type="submit" class="btn mt-3 w-100">Küldés</button>
         </form>
      </div>
   </div>
   {% include "footer.html" %}
{% endblock content %}
