{% extends 'base.html' %}
{% load static %}
{% block css %}
   <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock css%}
{% block title %}
   Jelszóváltoztatás kérése
{% endblock title %}
{% block content %} 
   <div id="container">
      {% include 'navbar.html' %}
      <div id="form-container">
         <form method="post">
            {% csrf_token %}
            <h1 class="text-center">Jelszó változtatás kérelem</h1>
            <div class="mb-3">
               <label for="email" class="form-label">Email cím</label>
               <input type="email" class="form-control" name="email" id="email" />
            </div>
            <button type="submit" class="btn mt-3">Küldés</button>
      </div>
   </div>
   {% include "footer.html" %}
{% endblock content %}
