{% extends 'base.html' %} {% load static %} {% block css %}
   <style>
      body {
         overflow: hidden;
      }
      #container {
         height: calc(100% - 25.6px);
      }
      #alert-container {
         height: calc(100% - 64px);
         display: flex;
         justify-content: center;
         align-items: center;
      }
      .alert{
         width: 50rem;
      }
      @media screen and (max-width: 900px) {
         .alert {
            width: 90%;
         }
      }
   </style>
{% endblock css%} {% block title %} Jelszó visszaállítása megtörtént {% endblock title %}
{% block content %}
   <div id="container">
      {% include 'navbar.html' %}
      <div id="alert-container">
         <div class="alert alert-success text-center">
            <h3>E-mailben elküldtük a jelszó-megváltoztatáshoz szükséges linket.<br>Kérjük, ellenőrizze az e-mail fiókját.</h3>
         </div>
      </div>
   </div>
   {% include "footer.html" %}
{% endblock content %}
