{% extends 'base.html' %}
{% load static %}
{% block css %}
<!-- <link rel="stylesheet" href="{% static 'css/login.css' %}" /> -->
{% endblock css%}
{% block title %}
   Regisztráció
{% endblock title %}
{% block content %} 
   <div id="container">
      {% include 'navbar.html' %}
      <div id="login-container">
         <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <h1>Regisztráció</h1>
            <p id="success-register">Sikeres regisztráció. Most már be tudsz jelentkezni.</p>
            <div class="row">
               <p class="mb-3 col-md-6">
                  <label for="id_username">Felhasználónév:</label>
                  <input type="text" name="username" maxlength="150" autofocus="" required="" aria-describedby="id_username_helptext" class="form-control" id="id_username">
                  <small id="id_username_helptext" class="form-text text-muted">
                     Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                  </small>
               </p>
               <p class="mb-3 col-md-6">
                  <label for="id_email">Email cím:</label>
                  <input type="email" name="email" maxlength="320" required="" class="form-control" id="id_email">
               </p>
            </div>
            
            <div class="row">
               <p class="mb-3 col-md-6">
                  <label for="id_first_name">Vezetéknév:</label>
                  <input type="text" name="first_name" maxlength="150" class="form-control" id="id_first_name">
               </p>
               <p class="mb-3 col-md-6">
                  <label for="id_last_name">Keresztnév:</label>
                  <input type="text" name="last_name" maxlength="150" class="form-control" id="id_last_name">
               </p>
            </div>

            <div class="row">
               <p class="mb-3 col-md-6">
                  <label for="id_password1">Jelszó:</label>
                  <input type="password" name="password1" autocomplete="new-password" aria-describedby="id_password1_helptext" class="form-control" id="id_password1">
                  
                  <span class="helptext" id="id_password1_helptext"></span>
               </p>
               <p class="mb-3 col-md-6">
                  <label for="id_password2">Jelszó megerősítése:</label>
                  <input type="password" name="password2" autocomplete="new-password" aria-describedby="id_password2_helptext" class="form-control" id="id_password2">
                  <small id="id_password2_helptext" class="form-text text-muted">
                     Enter the same password as before, for verification.
                  </small>
               </p>
            </div>

            <ul>
               <li>Your password can’t be too similar to your other personal information.</li>
               <li>Your password must contain at least 8 characters.</li>
               <li>Your password can’t be a commonly used password.</li>
               <li>Your password can’t be entirely numeric.</li>
            </ul>

            <button type="submit" class="btn mt-3">Regisztráció</button>
            <a href="{% url 'login' %}">Korábban már regisztráltál?</a>
         </form> 
      </div>
      {% include "footer.html" %}
   </div>
{% endblock content %}
