{% extends 'base.html' %}
{% load static %}
{% block css %}
   <link rel="stylesheet" href="{% static 'css/register.css' %}" />
{% endblock css%}
{% block title %}
   Regisztráció
{% endblock title %}
{% block content %} 
   <div id="container">
      {% include 'navbar.html' %}
      <div id="login-container">
         <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <h1>Regisztráció</h1>
            <p id="success-register">Sikeres regisztráció. Most már be tudsz jelentkezni.</p>
            <div class="row">
               <p class="mb-3 col-md-6">
                  <label for="id_username">Felhasználónév:</label>
                  <input type="text" name="username" maxlength="150" autofocus="" required="" aria-describedby="id_username_helptext" class="form-control" id="id_username">
                  <small class="form-text error" id="id_username_error"></small>
               </p>
               <p class="mb-3 col-md-6">
                  <label for="id_email">Email cím:</label>
                  <input type="email" name="email" maxlength="320" required="" class="form-control" id="id_email">
                  <small class="form-text error" id="id_email_error"></small>
               </p>
            </div>
            
            <div class="row">
               <p class="mb-3 col-md-6">
                  <label for="id_first_name">Vezetéknév:</label>
                  <input type="text" name="first_name" maxlength="150" class="form-control" id="id_first_name">
                  <small class="form-text error" id="id_first_name_error"></small>
               </p>
               <p class="mb-3 col-md-6">
                  <label for="id_last_name">Keresztnév:</label>
                  <input type="text" name="last_name" maxlength="150" class="form-control" id="id_last_name">
                  <small class="form-text error" id="id_last_name_error"></small>
               </p>
            </div>

            <div class="row">
               <p class="mb-3 col-md-6">
                  <label for="id_password1">Jelszó:</label>
                  <input type="password" name="password1" autocomplete="new-password" aria-describedby="id_password1_helptext" class="form-control" id="id_password1">
                  <small class="form-text error" id="id_password_error"></small>
               </p>
               <p class="mb-3 col-md-6">
                  <label for="id_password2">Jelszó megerősítése:</label>
                  <input type="password" name="password2" autocomplete="new-password" aria-describedby="id_password2_helptext" class="form-control" id="id_password2">
               </p>
            </div>
            <button type="submit" class="btn disabled mt-3">Regisztráció</button>
            <a href="{% url 'login' %}">Korábban már regisztráltál?</a>
         </form> 
      </div>
      {% include "footer.html" %}
   </div>
{% endblock content %}
{% block js %}
   <script src="{% static 'js/register.js' %}"></script>
{% endblock js %}