{% extends 'base.html' %} {% load static %} {% block css %}
<!-- <link rel="stylesheet" href="{% static 'css/register.css' %}" /> -->
{% endblock css%} {% block title %} Regisztráció {% endblock title %} {% block content %}
<div id="container">
   {% include 'navbar.html' %}
   <div id="register-container">
      <form action="{% url 'register' %}" method="POST">
         <h1 class="text-center">Regisztráció</h1>
         {% csrf_token %}
         {{form}}
         <button type="submit" class="btn mt-3">Regisztráció</button>
         <a id="already-registered" href="{% url 'login' %}">Korábban már regisztráltál?</a>
      </form>
   </div>
   {% include "footer.html" %}
</div>
{% endblock content %} {% block js %}
   <script src="{% static 'js/register.js' %}"></script>
{% endblock js %}
