#container {
   display: flex;
   flex-direction: column;
   gap: 1.75rem;
}

/* ××××× About us section styles ××××× */
#about-us-container {
   gap: 1rem;
}

#about-us,
#about-project {
   width: 70%;
   background-color: var(--secondary-bg);
   border-radius: 16px;
}

#about-us-title,
#about-project-title {
   border-bottom: var(--highlight) solid 5px;
}

#about-us-imgs {
   padding-right: 0.5rem;
   display: flex;
   justify-content: center;
   gap: 1rem;
}

.card {
   width: 10rem;
   border: var(--accent) solid 1px;
   border-radius: 10px;
}

.card-body {
   background-color: var(--secondary-text);
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
}

.card-text i {
   word-break: keep-all;
}

#about-us-text {
   padding-left: 0.5rem;
   padding-right: 0;
   font-size: 18px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-indent: 2rem;
}

/* ××××× About project section styles ××××× */


#about-project-text {
   font-size: 18px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-indent: 2rem;
}

/* ××××× Responsive styles ××××× */

@media screen and (max-width: 1300px) {
   #about-project {
      height: fit-content;
   }
}

@media screen and (max-width: 991px) {
   #about-us-cards {
      gap: 1rem;
   }
   #about-us-imgs {
      margin: 1rem 0 !important;
      padding: 0 !important;
   }
   #about-us-title,
   #about-project-title {
      width: 50% !important;
   }
   #about-us-text p {
      padding: 0 1.5rem 1rem 1.5rem !important;
   }
   #about-project-text p {
      width: 90%;
      padding: 0 !important;
   }
}

@media screen and (max-width: 600px) {
   #about-us-imgs {
      padding: 0 !important;
   }
   #about-us-text p,
   #about-project-text {
      padding: 0.5rem 0 1rem 0 !important;
   }
   .card-body {
      padding: 0.5rem;
   }
}

@media screen and (max-width: 500px) {
   #about-us-title,
   #about-project-title {
      width: 100%;
      margin: 0.25rem 0 1rem 0;
      font-size: 1.4rem;
   }
   #about-us-imgs {
      padding: 0 !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .card {
      width: 8rem;
   }
   #about-us-text,
   #about-project-text {
      font-size: 1rem;
   }
}
