/* ××××× About us section styles ××××× */
body {
   height: 100%;
   background: rgb(13,27,42);
   background: linear-gradient(0deg, rgba(13,27,42,1) 0%, rgba(9,9,121,1) 20%, rgba(65,90,119,1) 100%);
   background-repeat: inherit;
   background-size: cover;
}

#about-us-container{
   padding: 1.4rem 0;
   gap: 1rem;
}

#about-us,
#about-project {
   width: 70%;
   background-color: var(--secondary-bg);
   border-radius: 16px;
}

#about-us-title,
#about-project-title {
   border-bottom: var(--highlight) solid 5px;
}

#about-us-imgs {
   height: fit-content;
   display: flex;
   justify-content: space-evenly;
}

#about-us-text {
   font-size: 18px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.card {
   width: 10rem;
   border: var(--accent) solid 1px;
   border-radius: 10px;
}

#about-us img {
   height: auto;
}

.card-body {
   background-color: var(--secondary-text);
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
}

/* ××××× About project section styles ××××× */
#about-project-text {
   font-size: 18px;
   display: flex;
   justify-content: center;
   align-items: center;
}
