@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ××××× Color variables ××××× */
:root {
   --primary-bg: #0d1b2a;
   --secondary-bg: #1b263b;
   --accent: #415a77;
   --primary-text: #ffffff;
   --secondary-text: #c0c0c0;
   --highlight: #00e7c9;
   --max-height: calc(100% - 1rem);
}

/* ××××× General styles ××××× */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   height: 100vh;
   background-color: var(--primary-bg);
   color: var(--primary-text);
   font-family: "Roboto", sans-serif;
   line-height: 1.6;
}

h1,
h2,
h3,
h4 {
   font-family: "Montserrat", sans-serif;
   word-break: keep-all;
}

p {
   text-align: justify;
}

#container {
   height: var(--max-height);
   background: rgb(13,27,42);
   background: linear-gradient(0deg, rgba(13,27,42,1) 0%, rgba(9,9,121,1) 20%, rgba(65,90,119,1) 100%);
   background-repeat: inherit;
   background-size: cover;
}

#navbar {
   background-color: var(--secondary-text);
   height: fit-content;
}

#logo {
   width: fit-content;
   display: flex;
   flex-direction: row;
   align-items: center;
}

#logo p {
   width: fit-content;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 0.2rem;
}

#logo-flex {
   padding: 0.1rem 0.5rem;
   background-color: var(--primary-bg);
   color: var(--primary-text);
   border-radius: 5px;
}

#logo-img {
   width: 5rem;
   margin-bottom: -1rem;
   margin-right: -0.5rem;
}

.navbar-toggler {
   border: 1px solid var(--primary-bg);
}

.navbar-nav {
   height: 100%;
}

.nav-item {
   height: 100%;
   background-color: unset;
}

.nav-link {
   color: var(--primary-bg);
   text-align: right;
   border-radius: 10px;
   transition: background-color 0.3s ease;
}

.nav-link:hover,
#dropdown-extra-button:hover,
#dropdown-extra-menu li a:hover {
   background-color: var(--primary-bg);
   color: var(--primary-text);
}

#container-extra {
   display: flex;
   justify-content: right;
}

#dropdown-extra-button {
   color: var(--primary-bg);
   border: none;
   margin-top: 0.4px;
}

#dropdown-extra-menu {
   background-color: var(--secondary-text);
   width: fit-content;
   position: absolute;
}

#dropdown-extra-menu li a{
   color: var(--primary-bg);
}

#profile-dropdown {
   height: 64px;
   position: absolute;
   top: 0;
   right: 8rem;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

#profile-dropdown-button {
   background-color: var(--primary-bg);
   color: var(--primary-text);
   border: none;
}

#profile-dropdown-menu {
   background-color: var(--secondary-text);
   position: absolute;
   right: 10rem;
}

#profile-dropdown-menu li .dropdown-item {
   color: var(--primary-bg);
   transition: all 0.3s ease;
}

#profile-dropdown-menu li .dropdown-item:hover {
   background-color: var(--primary-bg);
   color: var(--primary-text);
}

#flags {
   height: 64px;
   position: absolute;
   top: 0;
   right: 4.7rem;
   display: flex;
   flex-direction: row;
   gap: 0.5rem;
   justify-content: center;
   align-items: center;
}

#flags img {
   height: 1.1rem;
   cursor: pointer;
}

/* ××××× Home section styles ××××× */
#home-container {
   height: calc(100% - 74px);
   position: relative;
   display: flex;
}

#home-background {
   width: 100%;
   height: 100%;
   background-image: url("../img/background.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   filter: brightness(0.7);
}

#home-text {
   height: 20rem;
   width: 70%;
   padding-top: 3rem;
   background-color: #0d1b2acb;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;
   border-radius: 10px;
}

#home-text h1 {
   width: 70%;
   border-bottom: #00e7c9 solid 5px;
}

#home-buttons {
   width: fit-content;
   height: 100%;
   display: flex;
   flex-direction: row;
   gap: 4rem;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.home-button-container {
   width: fit-content;
}

#home-buttons .btn {
   height: 3rem;
   width: 11rem;
   background-color: var(--accent);
   color: var(--primary-text);
   display: flex;
   justify-content: center;
   align-items: center;
   -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 231, 201, 1);
   -moz-box-shadow: 0px 0px 10px 3px rgba(0, 231, 201, 1);
   box-shadow: 0px 0px 10px 3px rgba(0, 231, 201, 1);
   transition: all 0.3s ease;
}

#home-buttons .btn:hover {
   background-color: var(--highlight);
   color: var(--primary-bg);
   -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 231, 201, 1);
   -moz-box-shadow: 0px 0px 10px 5px rgba(0, 231, 201, 1);
   box-shadow: 0px 0px 10px 5px rgba(0, 231, 201, 1);
}

/* ××××× Footer styles ××××× */
footer {
   width: 100%;
   background-color: var(--secondary-text);
   color: #0d1b2a;
}

@media screen and (max-width: 900px) {
   #home-buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
   }
}

@media screen and (max-width: 600px) {
   #home-buttons .btn {
      height: 2.5rem;
   }
}