#workout-plan-update-container{
   display: flex;
   flex-direction: column;
}

#back-to-premium-pump {
   width: 100%;
}

#back-to-premium-pump .btn {
   width: 20rem;
   margin-right: 16px;
   background-color: #c0c0c0;
   color: #0d1b2a;
   float: right;
   transition: all 0.3s ease;
}

.workout-plan-inputs {
   width: 60%;
   margin: auto;
}

.workout-plan-inputs input,
.workout-plan-inputs select,
.workout-plan-inputs textarea {
   background-color: #c0c0c0;
   color: #0d1b2a;
   border: none;
}

.workout-plan-inputs input:focus,
.workout-plan-inputs select:focus,
.workout-plan-inputs textarea:focus {
   background-color: #415a77;
   color: #ffffff;
}

#workout-plan-form-inputs-container .btn {
   background-color: #415a77;
   color: #ffffff;
   border: none;
   transition: all 0.3s ease;
}

#workout-plan-form-inputs-container .btn:hover
#workout-plan-list-container #save-workout-plan:hover {
   background-color: #00e7c9;
   color: #0d1b2a;
}

#current-day {
   font-size: 20px;
   background-color: #415a77;
   color: #ffffff;
   border: none;
}

#workout-plan-list-container{}

#sortable {
}
#sortable li {
   
}

.ui-state-default {
   background-color: #415a77;
   color: #ffffff;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border: none;
}