body {
   overflow: hidden;
}

#container {
   height: calc(100% - 25.6px);
}

#form-container {
   height: calc(100% - 64px);
   display: flex;
   justify-content: center;
}

form {
   width: 30rem;
   background-color: #1b263b;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 0.5rem;
   -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 231, 201, 1);
   -moz-box-shadow: 0px 0px 10px 5px rgba(0, 231, 201, 1);
   box-shadow: 0px 0px 10px 5px rgba(0, 231, 201, 1);
}

form h1,
form h2 {
   border-bottom: #00e7c9 3px solid;
}

.form-control {
   background-color: #c0c0c0;
   color: #0d1b2a;
}

form .btn {
   color: #ffffff;
   background-color: #415a77;
   transition: all 0.3s ease;
}

form .btn:hover {
   background-color: #00e7c9;
   color: #1b263b;
   -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 231, 201, 1);
   -moz-box-shadow: 0px 0px 10px 5px rgba(0, 231, 201, 1);
   box-shadow: 0px 0px 10px 5px rgba(0, 231, 201, 1);
}

#form-links {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: 0.5rem;
}

#form-links a {
   color: #00e7c9;
   text-decoration: none;
   padding-bottom: 2px;
   background-image: linear-gradient(#00e7c9 0 0);
   background-position: 0 100%;
   background-size: 0% 2px;
   background-repeat: no-repeat;
   text-decoration: none;
   transition: background-size 0.3s, background-position 0s 0.3s;
}

#form-links a:hover {
   background-position: 100% 100%;
   background-size: 100% 2px;
}

@media screen and (max-width: 600px) {
   form {
      width: 90%;
   }
}

@media screen and (max-width: 500px) {
   #form-links {
      justify-content: center;
      align-items: center;
      gap: 0;
   }
}