#container {
   display: flex;
   flex-direction: column;
   gap: 1.75rem;
}

#week {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}

.days {
   display: flex;
   flex-direction: column;
}

.days h2 {
   border-bottom: 3px solid #00e7c9;
}

.form-check-input {
   background-color: #415a77;
}

.form-check-input:checked {
   background-color: #00e7c9;
}

#workout-plan-modify-form {
   height: 2.5rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

#workout-plan-modify-form .btn {
   width: fit-content;
   padding-left: 2rem;
   padding-right: 2rem;
   background-color: #415a77;
   border: none;
   transition: all 0.3s ease;
}

#workout-plan-modify-form .btn:hover {
   background-color: #00e7c9;
   color: #0d1b2a;
}

.exercise-image {
   position: relative;
   display: inline-block;
}

.bubble {
   display: none;
   position: absolute;
   top: -10px;
   left: 50%;
   transform: translateX(20%);
   z-index: 10;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 10px;
   padding: 5px;
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.exercise-image:hover .bubble {
   display: block;
}

@media screen and (max-width: 1760px) {
   .bubble {
      transform: translateX(-110%);
   }
}

@media screen and (max-width: 768px) {
   .container {
      max-width: unset;
      width: 90%;
   }
   #workout-plan-modify-form .btn {
      padding-left: 1rem;
      padding-right: 1rem;
   }
}

@media screen and (max-width: 555px) {

   #workout-plan-modify-form .btn {
      width: 90%;
      padding-left: 0.3rem;
      padding-right: 0.3rem;
   }
}
