#container {
   height: 100%;
   display: flex;
   flex-direction: column;
}

#register-container {
   height: calc(100% - 74px);
   width: min(60rem, 100%);
   margin: auto;
   padding: 0 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

form {
   width: 100%;
   background-color: #1b263b;
   border-radius: 10px;
   -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 231, 201, 1);
   -moz-box-shadow: 0px 0px 10px 5px rgba(0, 231, 201, 1);
   box-shadow: 0px 0px 10px 5px rgba(0, 231, 201, 1);
}

h1 {
   border-bottom: #00e7c9 2px solid;
}

.form-control {
   background-color: #c0c0c0;
   color: #0d1b2a;
}

.alert {
   
   height: fit-content;
}

.errorlist {
   margin: 0;
}

.btn {
   height: 3rem;
   background-color: #415a77;
   color: #ffffff;
   transition: all 0.3s ease;
}

.btn:hover {
   background-color: #00e7c9;
   color: #1b263b;
   -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 231, 201, 1);
   -moz-box-shadow: 0px 0px 10px 5px rgba(0, 231, 201, 1);
   box-shadow: 0px 0px 10px 5px rgba(0, 231, 201, 1);
}

#already-registered {
   float: right;
   color: #00e7c9;
   background-image: linear-gradient(#00e7c9 0 0);
   background-position: 0 100%;
   background-size: 0% 2px;
   background-repeat: no-repeat;
   text-decoration: none;
   transition: background-size 0.3s, background-position 0s 0.3s;
}

#already-registered:hover {
   background-position: 100% 100%;
   background-size: 100% 2px;
}
